@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

//Mixin for the grid system

@mixin row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

@mixin item($height, $flex-basis, $width, $padding) {
  height: $height;
  flex-basis: $flex-basis;
  -ms-flex: auto;
  width: $width;
  position: relative;
  padding: $padding;
  box-sizing: border-box;
}
