$small: 300px;
$medium: 900px;
$big: 1024px;
$mobileMargin: 25px;
$desktopMargin: 75px;
$mobileSpaceItems: 12.5px;
$desktopSpaceItems: 10px;
$mobileMovieWidth: 80%;
$mobileMovieHeight: 500px;
$desktopNavbarWidth: 10%;
$mobileCarouselWidth: 60%;

$font: 16px;
